{
  "openapi": "3.0.0",
  "info": {
    "title": "Catalog API",
    "version": "1.0.0"
  },
  "paths": {
    "/v1/auth/otp/send": {
      "post": {
        "summary": "Initiate passwordless auth",
        "description": "Initiates passwordless login using email using OTP code",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendOTPRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendOTPResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendOTPErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendOTPRateLimitResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "security": [],
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/auth/otp/verify": {
      "post": {
        "summary": "Authenticate with OTP code",
        "description": "Authenticates user with email and OTP code for passwordless login",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOTPRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyOTPResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid OTP code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyOTPErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyOTPRateLimitResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "security": [],
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "summary": "Refresh session",
        "description": "Refreshes the user session using a refresh token",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyOTPRateLimitResponse"
                }
              }
            }
          }
        },
        "parameters": [],
        "security": [],
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/apps/{appId}/users/count": {
      "get": {
        "summary": "Get app user count",
        "description": "Retrieves the current user count and user limit for a specific app",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "responses": {
          "200": {
            "description": "User count retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserCountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/apps/{appId}/secret": {
      "get": {
        "summary": "Get app secrets - Related to app/configuration/settings (basic)",
        "description": "Retrieves app secrets/clients for a specific app. Related to app/configuration/settings (basic)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "responses": {
          "200": {
            "description": "App secrets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppSecretsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/apps/{appId}/domains": {
      "get": {
        "summary": "Get app domain configuration - Related to app/configuration/settings (domains)",
        "description": "Retrieves domain configuration for a specific app. Related to app/configuration/settings (domains)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain configuration retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppDomainConfiguration"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      },
      "put": {
        "summary": "Update app domain configuration - Related to app/configuration/settings (domains)",
        "description": "Updates domain configuration for a specific app. Used for enabling/disabling httponly cookies and other domain settings. Related to app/configuration/settings (domains)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain configuration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppDomainConfiguration"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/accounts": {
      "get": {
        "summary": "Get user accounts",
        "description": "Retrieves all accounts associated with the authenticated user",
        "tags": ["Dashboard"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Access denied"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/accounts/{accountId}/billing": {
      "get": {
        "summary": "Get account billing information",
        "description": "Retrieves billing information for a specific account",
        "tags": ["Dashboard"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID",
            "example": "cmcvhzuqq03a3jp0ngx86i7ce"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string",
                      "example": "free"
                    },
                    "tierName": {
                      "type": "string",
                      "example": "Free"
                    },
                    "monthlyActiveUsers": {
                      "type": "integer",
                      "example": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "maxMonthlyActiveUsers": {
                      "type": "integer",
                      "example": 1000
                    },
                    "priceCents": {
                      "type": "integer",
                      "example": 0
                    },
                    "nextTier": {
                      "type": "object",
                      "properties": {
                        "tier": {
                          "type": "string",
                          "example": "dev"
                        },
                        "tierName": {
                          "type": "string",
                          "example": "Core"
                        },
                        "priceCents": {
                          "type": "integer",
                          "example": 19900
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Account not found"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/accounts/admins": {
      "get": {
        "summary": "Get admin information",
        "description": "Retrieves admin information for the authenticated user",
        "tags": ["Dashboard"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "user@example.com"
                    },
                    "can_leave": {
                      "type": "boolean",
                      "example": false
                    },
                    "cannot_leave_reason": {
                      "type": "string",
                      "example": "active_apps"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/accounts/{accountId}/apps": {
      "post": {
        "summary": "Create a new app",
        "description": "Creates a new application within the specified account",
        "tags": ["Dashboard"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID",
            "example": "cmcvhzuqq03a3jp0ngx86i7ce"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNotFoundResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAppRateLimitResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/apps/{appId}": {
      "get": {
        "summary": "Get app details",
        "description": "Retrieves comprehensive details about a specific app",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of your Catalog app",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "privy-client",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Privy client identifier for dashboard requests",
            "example": "privy-dashboard:1.0.0"
          }
        ],
        "responses": {
          "200": {
            "description": "App details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update app configuration - Used across multiple screens: app/configuration/settings (general, domains, client, advanced), app/configuration/branding, app/configuration/terms&privacy, app/authentication (basics)",
        "description": "Comprehensive app configuration endpoint used across multiple dashboard screens. Updates branding (name, logo, theme, accent color), privacy settings (terms & conditions URL, privacy policy URL, terms acceptance), authentication methods (wallet, email, SMS, passkey, etc.), domain restrictions, client settings, and advanced features (Android signing keys, captcha, allowlist, OAuth redirect URLs, embedded wallet config, funding config). Related to app/configuration/settings (general, domains, client, advanced), app/configuration/branding, app/configuration/terms&privacy, app/authentication (basics)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of your Catalog app",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "privy-client",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Privy client identifier for dashboard requests",
            "example": "privy-dashboard:1.0.0"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App configuration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalogfi.com"
          }
        ]
      }
    },
    "/v1/apps/{appId}/clients": {
      "get": {
        "summary": "Get app clients - Related to app/configuration/settings (client)",
        "description": "Retrieves all app clients for a specific app. Related to app/configuration/settings (client)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "responses": {
          "200": {
            "description": "App clients retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClientsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      },
      "post": {
        "summary": "Create app client - Related to app/configuration/settings (client)",
        "description": "Creates a new app client for a specific app. Related to app/configuration/settings (client)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClient"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/apps/{appId}/clients/{clientId}": {
      "patch": {
        "summary": "Update app client - Related to app/configuration/settings (client)",
        "description": "Updates a specific app client configuration. Related to app/configuration/settings (client)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client ID",
            "example": "v6u2vb7fya7hj9g91501xkv8r"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App client updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClient"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "App or client not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/apps/{appId}/url-restriction": {
      "put": {
        "summary": "Update app URL restrictions - Related to app/configuration/settings/advanced (allowed oauth redirect url)",
        "description": "Updates URL restriction settings including OAuth redirect URLs. Related to app/configuration/settings/advanced (allowed oauth redirect url)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/URLRestrictionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL restrictions updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/URLRestrictionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalogfi.com"
          }
        ]
      }
    },
    "/v1/wallets/{walletId}": {
      "get": {
        "summary": "Get wallet",
        "description": "Retrieves details of a specific wallet by ID",
        "tags": ["Wallets"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet ID",
            "example": "d0l66us361cm2p5777kpihjx"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Wallet not found"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      },
      "patch": {
        "summary": "Update wallet",
        "description": "Updates a specific wallet's configuration and properties",
        "tags": ["Wallets"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet ID",
            "example": "d0l66us361cm2p5777kpihjx"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWalletRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid wallet configuration"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Wallet not found"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/wallets": {
      "post": {
        "summary": "Create wallet",
        "description": "Creates a new wallet for the specified app. Supports both Ethereum and Solana chains with optional policy, owner, and additional signers configuration.",
        "tags": ["Wallets"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWalletRateLimitResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      },
      "get": {
        "summary": "Get wallets",
        "description": "Retrieves a list of wallets for the app with optional filtering",
        "tags": ["Wallets"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "chain_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ethereum", "solana"]
            },
            "description": "Filter wallets by chain type",
            "example": "ethereum"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter wallets by user ID",
            "example": "dkqvwagss04y7sez0pa8yb74"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Maximum number of wallets to return",
            "example": 50
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of wallets to skip",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Wallets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/wallets/{walletId}/export": {
      "post": {
        "summary": "Export wallet",
        "description": "Exports a wallet's private key and configuration for backup or migration purposes",
        "tags": ["Wallets"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet ID",
            "example": "d0l66us361cm2p5777kpihjx"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportWalletRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet exported successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportWalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/wallets/{walletId}/balance": {
      "get": {
        "summary": "Get wallet balance",
        "description": "Retrieves the current balance of a specific wallet",
        "tags": ["Wallets"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet ID",
            "example": "d0l66us361cm2p5777kpihjx"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "caip2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Chain identifier in CAIP-2 format",
            "example": "eip155:1"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletBalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/wallets/{walletId}/transactions": {
      "get": {
        "summary": "Get wallet transactions",
        "description": "Retrieves transaction history for a specific wallet",
        "tags": ["Wallets"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet ID",
            "example": "d0l66us361cm2p5777kpihjx"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "caip2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Chain identifier in CAIP-2 format",
            "example": "eip155:1"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Maximum number of transactions to return",
            "example": 25
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of transactions to skip",
            "example": 0
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["pending", "confirmed", "failed"]
            },
            "description": "Filter transactions by status",
            "example": "confirmed"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/wallets/{walletId}/rpc": {
      "post": {
        "summary": "Wallet Actions",
        "description": "Performs RPC calls on a wallet.",
        "tags": ["Wallets"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet ID",
            "example": "d0l66us361cm2p5777kpihjx"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "privy-authorization-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Request authorization signature. If multiple signatures are required, they should be comma separated.",
            "example": "signature1,signature2"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletRPCRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RPC operation completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletRPCResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletNotFoundResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletRPCRateLimitResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/quorums": {
      "get": {
        "summary": "Get key quorums",
        "description": "Retrieves all key quorums for a specific app",
        "tags": ["Key Quorums"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "responses": {
          "200": {
            "description": "Key quorums retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuorumsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      },
      "post": {
        "summary": "Create key quorum",
        "description": "Creates a new key quorum for authorization management",
        "tags": ["Key Quorums"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuorumRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key quorum created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quorum"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/quorums/{quorumId}": {
      "get": {
        "summary": "Get key quorum",
        "description": "Retrieves details of a specific key quorum",
        "tags": ["Key Quorums"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "quorumId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Key quorum ID",
            "example": "qsz36nck6u0z28lluuqkin98"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "responses": {
          "200": {
            "description": "Key quorum details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quorum"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Key quorum not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuorumNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      },
      "put": {
        "summary": "Update key quorum",
        "description": "Updates a specific key quorum's configuration",
        "tags": ["Key Quorums"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "quorumId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Key quorum ID",
            "example": "qsz36nck6u0z28lluuqkin98"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuorumRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key quorum updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quorum"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Key quorum not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuorumNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      },
      "delete": {
        "summary": "Delete key quorum",
        "description": "Deletes a specific key quorum",
        "tags": ["Key Quorums"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "quorumId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Key quorum ID",
            "example": "qsz36nck6u0z28lluuqkin98"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "responses": {
          "200": {
            "description": "Key quorum deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Key quorum not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuorumNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/policies": {
      "post": {
        "summary": "Create policy",
        "description": "Create a new policy with rules for controlling wallet operations",
        "tags": ["Policies"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "privy-authorization-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Request authorization signature. If multiple signatures are required, they should be comma separated.",
            "example": "signature1,signature2"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/policies/{policyId}": {
      "get": {
        "summary": "Get policy",
        "description": "Get a policy by policy ID",
        "tags": ["Policies"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            },
            "description": "Policy ID",
            "example": "tb54eps4z44ed0jepousxi4n"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "responses": {
          "200": {
            "description": "Policy retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      },
      "patch": {
        "summary": "Update policy",
        "description": "Update a policy by policy ID",
        "tags": ["Policies"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            },
            "description": "Policy ID",
            "example": "tb54eps4z44ed0jepousxi4n"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "privy-authorization-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Request authorization signature. If multiple signatures are required, they should be comma separated.",
            "example": "signature1,signature2"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      },
      "delete": {
        "summary": "Delete policy",
        "description": "Delete a policy by policy ID",
        "tags": ["Policies"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            },
            "description": "Policy ID",
            "example": "tb54eps4z44ed0jepousxi4n"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "privy-authorization-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Request authorization signature. If multiple signatures are required, they should be comma separated.",
            "example": "signature1,signature2"
          }
        ],
        "responses": {
          "200": {
            "description": "Policy deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/policies/{policyId}/rules": {
      "post": {
        "summary": "Create policy rule",
        "description": "Create a new rule within a policy",
        "tags": ["Policy Rules"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            },
            "description": "Policy ID",
            "example": "tb54eps4z44ed0jepousxi4n"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "privy-authorization-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Request authorization signature. If multiple signatures are required, they should be comma separated.",
            "example": "signature1,signature2"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePolicyRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy rule created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyRuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/policies/{policyId}/rules/{ruleId}": {
      "get": {
        "summary": "Get policy rule",
        "description": "Get a specific rule within a policy",
        "tags": ["Policy Rules"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            },
            "description": "Policy ID",
            "example": "tb54eps4z44ed0jepousxi4n"
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Rule ID",
            "example": "rule_abc123def456"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "responses": {
          "200": {
            "description": "Policy rule retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyRuleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy or rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyRuleNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      },
      "patch": {
        "summary": "Update policy rule",
        "description": "Update a specific rule within a policy",
        "tags": ["Policy Rules"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            },
            "description": "Policy ID",
            "example": "tb54eps4z44ed0jepousxi4n"
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Rule ID",
            "example": "rule_abc123def456"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "privy-authorization-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Request authorization signature. If multiple signatures are required, they should be comma separated.",
            "example": "signature1,signature2"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePolicyRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy rule updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyRuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy or rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyRuleNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      },
      "delete": {
        "summary": "Delete policy rule",
        "description": "Delete a specific rule within a policy",
        "tags": ["Policy Rules"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 24,
              "maxLength": 24
            },
            "description": "Policy ID",
            "example": "tb54eps4z44ed0jepousxi4n"
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Rule ID",
            "example": "rule_abc123def456"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Catalog App ID",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "privy-authorization-signature",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Request authorization signature. If multiple signatures are required, they should be comma separated.",
            "example": "signature1,signature2"
          }
        ],
        "responses": {
          "200": {
            "description": "Policy rule deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy or rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyRuleNotFoundResponse"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      }
    },
    "/v1/apps/{appId}/allowlist": {
      "get": {
        "summary": "Get allowlist entries",
        "description": "Get the allowlist entries for an app",
        "tags": ["Apps"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of your Catalog app",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "responses": {
          "200": {
            "description": "Allowlist entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllowlistEntry"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "App not found"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      },
      "post": {
        "summary": "Add user to allowlist",
        "description": "Add a user's email address, phone number, or wallet address to the allowlist for your app",
        "tags": ["Apps"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of your Catalog app",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAllowlistEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User added to allowlist successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllowlistEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid allowlist entry"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "App not found"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.privy.io"
          }
        ]
      },
      "delete": {
        "summary": "Remove entry from allowlist",
        "description": "Remove an allowlist entry by its ID. You can obtain the ID by getting your current allowlist.",
        "tags": ["Apps"],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "catalog-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of your Catalog app",
            "example": "cla04x0d00002nyb6oofp5dqh"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The ID of the allowlist entry to be removed. You can obtain this ID by getting your current allowlist.",
                    "example": "clpa828s4001hl90f6dxoksrg"
                  }
                },
                "required": ["id"]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Allowlist entry removed successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid allowlist entry ID"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found or allowlist entry not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Allowlist entry not found"
[...]
